doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' type ="text/css" href='/css/style.css')
    link(rel='stylesheet' type="text/css" href='/css/alertStyle.css')
    //- //link( href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Gloria+Hallelujah&family=Lato:wght@100&family=Patua+One&display=swap" rel="stylesheet")
   
    block content
            //- .content
            //- h1.(class='#') Learn to code - for free.
            //- p.p-elements Build projects.
            //- p.p-elements Earn certifications.
            //- p.p1-elements
            //-     | Since 2014, more than 40,000 freeCodeCamp.org 
            //-     br
            //-     |  graduates have gotten jobs at tech companies including:
            //-     .companies
            //-         p Google
            //-         p Microsoft
            //-         p Spotify
            //-         p amazon.com
            //-     button.main-button Get started it&apos;s free
                    